.doctor-extra-info-container {
  border-left: #ddd solid 1px;
  span {
    padding: 0;
  }

  .click-to-detail {
    color: #49bce2;
  }

  .box-up {
    background-color: white;
  }
  .box-down {
    background-color: #eeeeee;
  }
}
