@import '../../styles/common.scss';

$color: linear-gradient(
  135deg,
  rgba(34, 193, 195, 1) 0%,
  rgba(253, 187, 45, 1) 100%
);

.login-wrapper {
  background: $color;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.form-sign-in {
  background-color: white;
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
  border-radius: 7%;
  .checkbox {
    font-weight: 400;
  }
  .form-floating span {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(-50%, -50%);
  }
  .form-floating:focus-within {
    z-index: 2;
  }
  input[type='email'] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  input[type='password'] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  button {
    background-color: $color;
  }
  .social-list-button {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .fa-google-plus {
    font-size: 4em;
    color: #dc4e41;
  }
  .fa-facebook {
    font-size: 4em;
    color: blue;
  }
}
