//specialty image
.outStandingDoctor-image {
  // background-image: url(../../../assets/outStandingDoctor/anh-dai-dien-bs.jpg);
  height: 120px !important;
  width: 120px !important;
  border-radius: 50% !important;
  background-size: cover !important;
  .bg-image {
    background-size: cover !important;
  }
}
.doctor-customize {
  border: 1px solid #eee !important;
  padding-bottom: 12% !important;
  width: 98% !important;
  cursor: pointer;
}
.outer-bg {
  display: flex;
  justify-content: center;
}
